/*云市场页面基本规范*/
/*red: 默认hover红色*/
/*#40465a:列表子项区域显示背景 */
/*deepred: 按钮hover红色*/
/*blue：辅助及文字颜色*/
/*辅助： 桔色&黄色*/
/*font:三色*/
/*font:蓝色*/
/*
 * navbg：导航灰色
 * bodybg: body背景色
 * line: 按钮\辅助色\装饰线 背景色
 */
/* font-size
 * 12px 14px 17px 21px 23px 27px
*/
body {
  color: #333;
  background-color: #F8F8F8;
  font-size: 12px;
  line-height: 1.5;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
}
a:hover {
  color: #DD3730;
}
.container-whole {
  width: 100%;
}
/*设置页面宽度*/
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.pure-g {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif !important;
}
/*居中函数*/
/*清除浮动*/
/* btn hover*/
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(221, 55, 48, 0.85);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(221, 55, 48, 0.85);
  }
}
/*red btn hover*/
@-webkit-keyframes redbtn-pulse {
  50% {
    background-color: rgba(196, 11, 21, 0.85);
  }
}
@keyframes redbtn-pulse {
  50% {
    background-color: rgba(196, 11, 21, 0.85);
  }
}
/* enterprise service btn hover*/
@-webkit-keyframes left-enterbtn-pulse {
  50% {
    background: rgba(255, 255, 255, 0.85);
    color: #DD3730;
    border-color: rgba(255, 255, 255, 0.85);
  }
}
@keyframes left-enterbtn-pulse {
  50% {
    background: rgba(255, 255, 255, 0.85);
    color: #DD3730;
    border-color: rgba(255, 255, 255, 0.85);
  }
}
@-webkit-keyframes right-enterbtn-pulse {
  50% {
    background: rgba(255, 255, 255, 0.85);
    color: #DD3730;
    border-color: rgba(255, 255, 255, 0.85);
  }
}
@keyframes right-enterbtn-pulse {
  50% {
    background: rgba(255, 255, 255, 0.85);
    color: #DD3730;
    border-color: rgba(255, 255, 255, 0.85);
  }
}
